.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

/* -----------------------------------Main----------------------------------- */

.vh-10 {
  height: 10vh;
}

.vh-60 {
  height: 60vh;
}

.vh-80 {
  height: 80vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.vh-70 {
  height: 70vh;
}

.table td, th {
  vertical-align: middle;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1/1;
}

/* --------------------------------Color mode-------------------------------- */

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

/* ---------------------------------Sidebar---------------------------------- */

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  min-width: 90px;
  max-width: 90px;
}

.sidebar-transition {
  transition: all 0.8s;
  overflow: hidden;
}

.sidebar-transition.active {
  width: 0px;
  padding: 0px;
}

.sidebar-title-transition {
  pointer-events: none;
  visibility: visible;
  opacity: 1;
}

.sidebar-title-transition.active {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
  }

  .sidebar-title-transition {
    display: none;
  }
}

@media (min-width: 992px) {
  .margin-13px {
    margin-top: 7px;
    margin-bottom: 6px;
  }
}

/* ---------------------------------Sign-in---------------------------------- */

.magical-underline {
  background-image: linear-gradient(120deg, #6a11cb 0%, #2575fc 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* ------------------------------Pop-up message------------------------------ */

#message {
  z-index: 5;
  left: 50%;
  top: 50px;
  position: fixed;
  -webkit-transform: translateX(-50%);
}

/* ------------------------------Avatar on hover----------------------------- */

.avatar-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.avatar-container:hover .overlay {
  opacity: 1;
}

/* ------------------------------2FA OTP Dialog------------------------------ */

.otp-field {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-field input {
  height: 45px;
  width: 42px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
}

.otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
  display: none;
}

/* ------------------------------Chat interface------------------------------ */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

::-webkit-scrollbar-corner {
  background: --bs-gray-900;
}

.text-small {
  font-size: 0.9rem;
}

.text-small-date {
  font-size: 0.7rem;
}

.messages-box {
  height: 83vh;
  overflow-y: scroll;
}

.short-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.chat-message-mw {
  max-width: 40%;
}

/* ---------------------------------Carousel--------------------------------- */

.carousel-page {
  opacity: 0.3;
  height: 400px;
  background-position: center;
  background-image: url(/static/images/carouselPage.svg);
}


/* ----------------------------Tournament bracket---------------------------- */

.bracket {
  padding: 40px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.bracket-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-around;
  align-content: center;
}

.match {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 240px;
  max-width: 240px;
  height: 62px;
  margin: 12px 24px 12px 0;
}

.match .team {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.match .team:first-child {
  margin-bottom: -1px;
}

.match .seed {
  font-size: 12px;
  min-width: 10px;
}

.match .score {
  font-size: 14px;
}

.match-lines {
  display: block;
  position: absolute;
  top: 49%;
  bottom: 0;
  margin-top: 0px;
  right: 0px;
}

.match-lines .line.one {
  height: 1px;
  width: 12px;
}

.match-lines .line.two {
  height: 43px;
  width: 1px;
  left: 11px;
}

.match-lines.alt {
  left: -12px;
}

.match:nth-child(even) .match-lines .line.two {
  transform: translate(0, -100%);
}

.team {
  --bs-text-opacity: 1;
  background: var(--bs-gray-900);
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.bracket-column:first-child .match-lines.alt {
  display: none;
}

.bracket-column:last-child .match-lines {
  display: none;
}
.bracket-column:last-child .match-lines.alt {
  display: block;
}

.bracket-column:nth-child(2) .match-lines .line.two {
  height: 86px;
}

.bracket-column:nth-child(3) .match-lines .line.two {
  height: 172px;
}

.bracket-column:nth-child(4) .match-lines .line.two {
  height: 344px;
}

.bracket-column:nth-child(5) .match-lines .line.two {
  height: 688px;
}

.winner-top .match-top, .winner-bottom .match-bottom {
  --bs-text-opacity: 1;
  background: var(--bs-gray-800);
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
  z-index: 1;
}

.winner-top .match-top .score, .winner-bottom .match-bottom .score {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}
